body {
  background-color: white;
  color: white;
  text-align: center;
  margin: 0;
    padding: 0;
    min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page {
  color: black;
  background-color: white;
  padding: 10px;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.pageLeftMenu {
  margin-top: 30px;
  width: 10%;
  height: 300px;
  display: inline-block;
}

.mainContent {
  margin-top: 30px;
  width: 90%;
  display: inline-block;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  padding: 0 6% 0 6%;
}

.navbar {
  background-color: #282c34;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 3px 10px 3px 10px;
}

.navbar a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  margin: 15px;
  margin-right: 50px;
}

.navbar a:hover {
  color: lightblue;
  text-decoration: none;
  transition-duration: 0.4s;
}

.navbarButtons {
  background-color: #282c34;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding: 3px 10px 3px 10px;
}

.navbarLogo {
  background-color: #282c34;
  width: 10%;
  height: 100%;
  margin: 0 auto;
  margin-left: 80px;
  display: flex;
  justify-content: flex-end;
  padding: 3px 10px 3px 10px;
  
}

.navbarLogo img {
  height: 50px;
  margin: 0 auto;
}


.navbarButtom {
background-color: transparent;
color: white;
font-family: Arial, Helvetica, sans-serif;
text-transform: uppercase;
width: 200px;
height: 50px;
display: inline-block;
border: none;
}

.navbarButom:hover {
  background-color: yellow;
  color: yellow;
}

.logo {
  position: relative;
  background-size: cover;
  width: 100vw;
  height: 100%;
  margin: 0 auto;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.logo img {
    width: 100%;
    height: auto;
}

.text-block {
  font-family: 'Poppins', sans-serif;
  position: absolute;
  bottom: 30px;
  left: 180px;
  background: rgba(49, 31, 31,0.5); 
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}

.text-field {
  font-family: 'Poppins', sans-serif;
  text-align: justify;
  text-justify: inter-word;
  color: black;
  font-size: 16px;
  margin-bottom: 12px;
}

.challengeBar {
  width: 30%;
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  display: inline-block;
  -webkit-box-shadow: -1px 15px 34px -19px rgba(0,0,0,0.7);
-moz-box-shadow: -1px 15px 34px -19px rgba(0,0,0,0.7);
box-shadow: -1px 15px 34px -19px rgba(0,0,0,0.7);
}

.challengeBar25 {
  width: 25%;
  height: 100%;
  background-color: #009933;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.challengeBar50 {
  width: 50%;
  height: 100%;
  background-color: gold;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.challengeBar75 {
  width: 75%;
  height: 100%;
  background-color: #ffad33;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.challengeBar100 {
  width: 100%;
  height: 100%;
  background-color: #cc0000;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.icon {
  width: 40px;
  height: 40px;
}

.photo {
  width: 120px;
  height: 120px;
}

.tools {
  width: 93%;
  height: 100%;
  background-color: rgb(240, 240, 240);
  font-family: 'Poppins', sans-serif;
  padding: 10px 40px 10px 40px;
}


.regularTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 40px;

}

.regularTable td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
  width: 7.69%
}

.regularTable tr:nth-child(even){background-color: #f2f2f2;}

.regularTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
  color: black;
}

.contentTile {
  width: 100%;
  display: inline-block;
  margin-top: 20px;
  padding: 0;
}

.contentTileImage {
  width: 20%;
  display: inline-block;
  margin: 10px 0px 10px 0px;
  padding: 0;
  text-align: center;
}

.contentTileText {
  width: 80%;
  display: inline-block;
  margin: 0px;
  padding: 0;
  position: relative;
}